{% extends 'base.html' %}
{% block content %}
<div style="min-height: 70vh; display: flex; justify-content: center; align-items: center;">
    <div
        style="background: #1a1a1a; padding: 40px; border-radius: 15px; border: 1px solid #d4a373; text-align: center;">
        <h2 style="color: #d4a373; margin-bottom: 20px;">Succes!</h2>
        <p style="color: white; margin-bottom: 20px;">Parola ta a fost schimbată cu succes.</p>
        <a href="{% url 'login' %}"
            style="background: #d4a373; color: black; padding: 10px 20px; text-decoration: none; border-radius: 30px; font-weight: bold;">
            Intră în Cont
        </a>
    </div>
</div>
{% endblock %}